* {
  font-size:19px;
  font-weight:bold;
}

comment {
  color:#7c7c7c;
  font-style:italic;
}

constant.numeric {
  color:#2aa7b4;
  font-weight:normal;
}

constant.numeric.keyword {
  color:#c7a087;
}

keyword {
  color:#d6f363;
  font-strike-through:none;
  font-weight:normal;
}

keyword.control {
  color:#d6f363;
}

keyword.type {
  color:#ffc66d;
}

language.function {
  color:#a1617a;
}

language.operator {
  color:#cbe65f;
}

language.variable {
  color:#d0d0ff;
}

markup.comment {
  color:#7c7c7c;
  font-size:24px;
  font-style:italic;
  font-weight:bold;
}

markup.constant.entity {
  color:#6e9cbe;
  font-size:24px;
  font-weight:bold;
}

markup.declaration {
  color:#7c7c7c;
  font-weight:bold;
}

markup.inline.cdata {
  color:#a5c261;
}

markup.processing {
  color:#6c99bb;
  font-style:italic;
  font-weight:normal;
}

markup.tag {
  color:#c8fe5e;
  font-weight:bold;
}

markup.tag.attribute.name {
  color:#eb8a3a;
  font-size:24px;
  font-weight:bold;
}

markup.tag.attribute.value {
  color:#8febef;
}

meta.default {
  background-color:#212121;
  color:#f9ffed;
}

meta.highlight.currentline {
  background-color:#2b2b2b;
}

meta.important {
  color:#ff1800;
}

meta.invalid {
  color:#ff0000;
  font-weight:bold;
}

meta.invisible.characters {
  color:#434343;
}

meta.link {
  color:#f3d655;
  font-size:24px;
  font-style:normal;
  font-underline:none;
  font-weight:bold;
}

string {
  color:#a5c261;
}

string.regex {
  color:#8857d2;
  font-style:italic;
}

style.at-rule {
  color:#b14f28;
  font-size:24px;
  font-style:italic;
  font-weight:bold;
}

style.comment {
  color:#7c7c7c;
  font-size:24px;
  font-style:italic;
  font-weight:bold;
}

style.property.name {
  color:#d6f363;
  font-size:24px;
  font-weight:bold;
}

style.value.color.rgb-value {
  color:#94cfeb;
  font-size:24px;
  font-weight:bold;
}

style.value.keyword {
  color:#e79d45;
  font-size:24px;
  font-weight:bold;
}

style.value.numeric {
  color:#94cfeb;
  font-size:24px;
  font-weight:bold;
}

style.value.string {
  color:#a5c261;
  font-size:24px;
  font-weight:bold;
}

support {
  color:#a2e7ec;
}

